<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace = "fragments.html :: head"></head>
<body>
<script>
   //댓글 등록 클릭시 함수
      const commentWrite = () => {
          var accountName = "[[${#authentication.name}]]";
          if(accountName === "anonymousUser") {
            alert("댓글 등록은 로그인 후 이용하실 수 있습니다.");
            return;
          }

          const writer =  accountName;
          const contents = document.getElementById("commentContents").value;
          const boardId = [[${param.boardId}]];
          console.log("작성자 : ", writer);
          console.log("내용 : ", contents);
          console.log("게시글 번호 : ", boardId);


          $.ajax({
              // 요청방식 : post, 요청주소 /comment/save, 요청데이터: 작성자, 작성내용, 게시글번호
              type: "post",
              url: "/comment/save",
              data: {
                   "commentWriter" : writer,
                   "commentContents" : contents,
                   "boardId" : boardId
              },
              success: function(res) {
                  console.log("요청 성공" , res);
                  let output = "";
                  for(let i in res) {
                      let writeAtDate = res[i].writeAt.substring(0,10);
                      let writeAtTime = res[i].writeAt.substring(11,19);
                      output += "<li class = 'commentItem'>";
                      output += "<section class ='commentItem_header'>";
                      output += "<div class = 'commentItem_writer'>"
                      output += "<img class = 'commentItem_userImg' src = '/image/userIcon.png'>";
                      output += "<div class = 'commentItem_info'>";
                      output += "<div class = 'commentItem_nickName'>" + res[i].commentNickname + "</div>";
                      output += "<div class = 'commentItem_writeAt'>" + writeAtDate + " " + writeAtTime + "</div>"
                      output += "</div>"
                      output += "</section>"
                      output += "<section class = 'commentItem_content'>"
                      output += "<p class = 'commentItem_content'>" + res[i].commentContents + "</p>";
                      output += "</section></li>";
                  }
                  document.getElementById('comment-list').innerHTML = output;
                  document.getElementById('commentContents').value = '';
              },
              error : function(err) {
                  console.log("요청 실패", err);
              }
          });
      }

  //글 취소 버튼 클릭시 호출 함수
  function cancel() {
    var page = "[[${param.page}]]";
    var myBoard = "[[${param.myBoard}]]";

    if(page) {
      if(myBoard) {
        window.location.href = "/?page=" + page + "&myBoard=on";
      }else{
        window.location.href = "/?page=" + page;
      }
    }else {
      if(myBoard) {
        window.location.href = "/?myBoard=on" ;
      }else{
        window.location.href = "/" ;
      }
    }
  }

</script>
<div th:replace = "fragments.html :: header"></div>

<!-- 글 상세보기 본문 START-->
  <div class = "detail">
    <i class="fas fa-light fa-2x fa-arrow-left" style="cursor:pointer; margin-top: 48px; color : gray;" onclick = "cancel();"></i>
    <div class = "detail_title" th:text = "${board.title}">
        타이틀
    </div>
    <div class = "detail_user">
      <img src = "/image/userIcon.png">
      <p style="font-weight: 700;" th:text = ${board.account.name}>이름</p>
      <p th:text = "${writeAt}">작성일자 값</p>

    </div>
    <!-- 글 종류 리스트 START-->
    <ul class = "detail_list">
      <li>
        <span>일정 구분</span>
        <span th:text = "${board.type}">일정 구분</span>
      </li>
      <li>
        <span>소요 시간</span>
        <span th:text = "${board.time}">소요 시간값</span>
      </li>
      <li>
        <span>일상 선택</span>
        <span class = "detail_type" th:each="daily : ${daily}" th:text="${daily}">일상</span>
      </li>
      <li>
        <span>실행 일자</span>
        <span th:text="${board.executionAt}">실행 일자 값</span>
      </li>
    </ul>
    <!-- 글 종류 리스트 END-->
    <div class = "detail_introduce">
      <div class = "introduce_title">
        <p>일상 소개</p>
      </div>
      <div class = "detail_content">
        <p th:text="${board.content}">글 내용</p>
      </div>
    </div>

    <!-- 댓글 창-->
    <div class = "detail_reply">
      <p>0개의 댓글이 있습니다.</p>
      <input class = "reply_content" type="text" id = "commentContents" placeholder="댓글을 입력하세요.">
      <div class = "reply_btn">
        <form th:if = "${myBoard}" th:action="@{/update}" th:object = "${board}" method="get">
        <input type = "hidden" th:field="*{id}">
        <button th:if ="${myBoard}" type="submit">글 변경</button>
        </form>
        <form th:if = "${myBoard}" th:action="@{/delete}" th:object = "${board}" method="post">
          <input type = "hidden" th:field = "*{id}">
          <button th:if ="${myBoard}">글 삭제</button>
        </form>
        <button id = "comment-write-btn" onclick = "commentWrite()">댓글 등록</button>
      </div>
    </div>
    <!--  댓글 출력 부분-->
    <ul id = "comment-list">
      <li class = "commentItem">
          <section class = "commentItem_header">
              <div class = "commentItem_writer">
                    <img class = "commentItem_userImg "src="/image/userIcon.png">
                    <div class = "commentItem_info">
                        <div class = "commentItem_nickName">김한석</div>
                        <div class = "commentItem_writeAt">2023-05-28 00:00:00</div>
                    </div>
              </div>
          </section>
          <section class = "commentItem_content">
              <p class = "commentItem_content commentContent">안녕하세요.</p>
          </section>
      </li>
    </ul>
    <!-- 댓글 출력 부분 END    -->
  </div>
  <!-- 글 상세보기 본문 END-->
</div>

</body>

</html>