<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace = "fragments.html :: head"></head>
<body>
<script>
  function cancel() {
    var page = "[[${param.page}]]";
    var myBoard = "[[${param.myBoard}]]";

    if(page) {
      if(myBoard) {
        window.location.href = "/?page=" + page + "&myBoard=on";
      }else{
        window.location.href = "/?page=" + page;
      }
    }else {
      if(myBoard) {
        window.location.href = "/?myBoard=on" ;
      }else{
        window.location.href = "/" ;
      }
    }
  }

</script>
<div th:replace = "fragments.html :: header"></div>

<!-- 글 상세보기 본문 START-->
  <div class = "detail">
    <i class="fas fa-light fa-2x fa-arrow-left" style="cursor:pointer; margin-top: 48px; color : gray;" onclick = "cancel();"></i>
    <div class = "detail_title" th:text = "${board.title}">
        타이틀
    </div>
    <div class = "detail_user">
      <img src = "/image/userIcon.png">
      <p style="font-weight: 700;" th:text = ${board.account.name}>이름</p>
      <p th:text = "${executionAt}">작성일자 값</p>

    </div>
    <!-- 글 종류 리스트 START-->
    <ul class = "detail_list">
      <li>
        <span>일정 구분</span>
        <span th:text = "${board.type}">일정 구분</span>
      </li>
      <li>
        <span>소요 시간</span>
        <span th:text = "${board.time}">소요 시간값</span>
      </li>
      <li>
        <span>일상 선택</span>
        <span class = "detail_type" th:each="daily : ${daily}" th:text="${daily}">일상</span>
      </li>
      <li>
        <span>실행 일자</span>
        <span th:text="${board.executionAt}">실행 일자 값</span>
      </li>
    </ul>
    <!-- 글 종류 리스트 END-->
    <div class = "detail_introduce">
      <div class = "introduce_title">
        <p>일상 소개</p>
      </div>
      <div class = "detail_content">
        <p th:text="${board.content}">글 내용</p>
      </div>
    </div>

    <!-- 댓글 창-->
    <div class = "detail_reply">
      <p>0개의 댓글이 있습니다.</p>
      <input class = "reply_content" type="text" placeholder="댓글을 입력하세요.">
      <div class = "reply_btn">
        <form th:if = "${myBoard}" th:action="@{/update}" th:object = "${board}" method="get">
        <input type = "hidden" th:field="*{id}">
        <button th:if ="${myBoard}" type="submit">글 변경</button>
        </form>
        <form th:if = "${myBoard}" th:action="@{/delete}" th:object = "${board}" method="post">
          <input type = "hidden" th:field = "*{id}">
          <button th:if ="${myBoard}">글 삭제</button>
        </form>
        <button>댓글 등록</button>
      </div>
    </div>
  </div>
  <!-- 글 상세보기 본문 END-->
</div>

</body>
</html>