<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://thymeleaf.org">
<head th:replace = "fragments.html :: head"></head>

<script th:inline="javascript">
        //전역 변수로 선언
        var executionVal;

        //form 전송 함수
        function submitForm(executionVal) {
            var newForm = document.createElement('form');

            var boardId = /*[[${board.id}]]*/;
            var typeVal = document.getElementById('input1').textContent;
            var timeVal = document.getElementById('input2').textContent;
            var dailyAll = document.querySelectorAll('#input3');
            var dailyVal = '';
             for(var i = 0 ; i < dailyAll.length; i++) {
              if(i == dailyAll.length - 1) {
                dailyVal += dailyAll[i].textContent;
              }else{
                dailyVal += dailyAll[i].textContent + ";";
              }
            }

            var titleVal = document.getElementById('input5').value;

            var contentParent = document.querySelector('.ql-editor');
            var contentAll = contentParent.childNodes;
            var contentVal = '';
            for(var i = 0 ; i < contentAll.length; i++) {
              contentVal += contentAll[i].textContent;
            }
            console.log("typeVal = ", typeVal);
            console.log("titleVal = ", titleVal);
            console.log("executionVal = ", executionVal);
            console.log("contentVal = ", contentVal);

            //정규식 패턴으로 빈값일 때 알림창 띄우기
            if(typeVal.trim() === "" || typeVal === "자기계발/모임" ){
              alert("글 구분을 입력해주세요.");
              return;
            }
            if(timeVal.trim() === "" || timeVal === "30분 이하~6시간 이상(1시간 단위)"){
              alert("소요 시간을 입력해주세요.");
              return;
            }
            if(dailyVal.trim() === ""){
              alert("일상 선택을 입력해주세요.");
              return;
            }
            if(executionVal === undefined){
              alert("실행일을 입력해주세요.");
              return;
            }

            if(titleVal.trim() === ""){
              alert("글 제목을 입력해주세요.");
              return;
            }
            if(contentVal.trim() === ""){
              alert("글 내용을 입력해주세요.");
              return;
            }

            newForm.name = 'newForm';
            newForm.method = 'post';
            newForm.action = '/update';

            //create element (input)
            var input1 = document.createElement('input');
            var input2 = document.createElement('input');
            var input3 = document.createElement('input');
            var input4 = document.createElement('input');
            var input5 = document.createElement('input');
            var input6 = document.createElement('input');
            var input7 = document.createElement('input');

            input1.setAttribute('type', "hidden");
            input1.setAttribute('name', "type");
            input1.setAttribute('value',typeVal);
            input2.setAttribute('type', "hidden");
            input2.setAttribute('name', "time");
            input2.setAttribute('value',timeVal);
            input3.setAttribute('type', "hidde");
            input3.setAttribute('name', "daily");
            input3.setAttribute('value',dailyVal);
            input4.setAttribute('type', "hidden");
            input4.setAttribute('name', "executionAt");
            input4.setAttribute('value',executionVal);
            input5.setAttribute('type',"hidden");
            input5.setAttribute('name',"title");
            input5.setAttribute('value',titleVal);
            input6.setAttribute('type',"hidden");
            input6.setAttribute('name',"content");
            input6.setAttribute('value',contentVal);
            input7.setAttribute('type',"hidden");
            input7.setAttribute('name',"boardId");
            input7.setAttribute('value',boardId);

            newForm.appendChild(input1);
            newForm.appendChild(input2);
            newForm.appendChild(input3);
            newForm.appendChild(input4);
            newForm.appendChild(input5);
            newForm.appendChild(input6);
            newForm.appendChild(input7);

            document.body.appendChild(newForm);

            newForm.submit();
        }

        function deleteSubmit() {
            window.location.href = "/detail?boardId=" + /*[[${board.id}]]*/;
        }

        //날짜 라이브러리 한글기본값으로 변경
         $.datepicker.setDefaults({
            dateFormat: 'yy-mm-dd',
            prevText: '이전 달',
            nextText: '다음 달',
            monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            dayNames: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
            showMonthAfterYear: true,
            yearSuffix: '년'
        });



        $(function(){
            // 글 수정 전 데이터
            document.getElementById('input1').textContent = /*[[${board.type}]]*/;
            document.getElementById('input2').textContent = /*[[${board.time}]]*/;
            document.getElementById('input5').value = /*[[${board.title}]]*/;


            // 날짜 입력 값 변수 설정
            $("#datepicker").datepicker({
                onSelect: function(dateText, instance) {
                executionVal = $(this).val();
                console.log("선택한 날짜: " + executionVal);
                // 선택한 날짜 값을 다른 로직에서 사용 가능
                },
                // 오늘 날싸 이상은 선택 못하게
                beforeShowDay: function(date) {
                    var today = new Date();
                    today.setHours(0, 0, 0, 0); // 오늘 날짜의 시간을 00:00:00으로 설정

                    // 선택 가능한 날짜인지 확인
                    if (date.getTime() <= today.getTime()) {
                      return [true, ""];
                    } else {
                      return [false, "", "오늘 이후 날짜만 선택할 수 있습니다."];
                    }
                }

            });

            //글쓰기 에디터 부분 START
            const editor = new Quill('#editor', {
            theme: 'snow',
            placeholder: '나의 일상을 간략하게 설명해주세요!'
            });

            editor.on('text-change', () => {
            //console.log(editor.root.innerHTML);
            });

            //글쓰기 에디터 부분 END

            //날짜 api
            $("#datepicker").datepicker();

            // select 부분 직접 구현
            const label = document.querySelectorAll('.label');
            label.forEach(function(lb){
                lb.addEventListener('click', e => {
                    let optionList = lb.nextElementSibling;
                    let optionItems = optionList.querySelectorAll('.optionItem');
                    clickLabel(lb, optionItems);
                })
            });
            const clickLabel = (lb, optionItems) => {
                if(lb.parentNode.classList.contains('active')) {
                    lb.parentNode.classList.remove('active');
                    optionItems.forEach((opt) => {
                        opt.removeEventListener('click', () => {
                            handleSelect(lb, opt)
                        })
                    })
                } else {
                    lb.parentNode.classList.add('active');
                    optionItems.forEach((opt) => {
                        opt.addEventListener('click', () => {
                            console.log(2);
                            handleSelect(lb, opt)
                        })
                    })
                }
            }
            const handleSelect = (label, item) => {
                label.innerHTML = item.textContent;
                label.style.color = 'black';
                label.style.fontWeight = 500;
                label.parentNode.classList.remove('active');
            }
            // 일상선택부분만 따로
            const label2 = document.querySelector('.label2');
            const optionList = label2.nextElementSibling;
            const options2 = optionList.querySelectorAll('.optionItem');
            const handleSelect2 = function(item) {

                const span_styles = document.querySelectorAll('.span_style');
                if(span_styles.length === 3) {
                    alert('선택 종류는 3개까지 가능합니다.');
                    label2.parentNode.classList.remove('active');
                    return;
                }
                const span = document.createElement('span');
                span.innerHTML = item.textContent;
                span.className = 'span_style';
                span.id = 'input3';
                const button = document.createElement('button');
                button.innerHTML = 'x';
                button.className = 'delete_btn'
                const infoListItem = document.querySelector('.info_list_item2');
                infoListItem.appendChild(span);
                infoListItem.appendChild(button);
                label2.parentNode.classList.remove('active');
                //일상 선택 3개 초과시 알람창 뜨게하기
                //일상 선택에서 x 클릭시 삭제되게 구현
                const delete_btns = document.querySelectorAll('.delete_btn');
                delete_btns.forEach(function(delete_btn){
                    delete_btn.addEventListener('click', function(){
                        const delete_span = delete_btn.previousElementSibling;
                        delete_span.remove();
                        delete_btn.remove();
                    });
                });
            }

            options2.forEach(function(option){
                option.addEventListener('click', function(){
                    handleSelect2(option);
                })
            })

            label2.addEventListener('click', function(){
                if(label2.parentNode.classList.contains('active')) {
                    label2.parentNode.classList.remove('active');
                } else {
                    label2.parentNode.classList.add('active');
                }
            });


        });

    </script>
<body>
<div class = "wrap">
  <!-- 헤더 START -->
  <div th:replace = "fragments.html :: header"></div>

  <!-- 헤더 END -->

  <div class = "write_wrap">
    <!-- 굴쓰기 상단 섹션 -->
    <div class = "section">
      <div class = "basic_introduce">
        <div class = "number_border">
          <p>1</p>
        </div>
        <h2>오늘 나의 일상을 입력해주세요.</h2>
      </div>
      <div class = "write_border"></div>
      <ul class = "info_list">
        <li class = "info_list_item">
          <p>글 구분</p>
          <div class = "selectBoxList">
            <div class = "box">
              <div class = "selectBox2 ">
                <button class = "label" id = "input1" th:text = "${board.type}">자기계발/모임</button>
                <ul class = "optionList">
                  <li class = "optionItem">자기계발</li>
                  <li class = "optionItem">모임</li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class = "info_list_item">
          <p>소요 시간</p>
          <div class = "selectBoxList">
            <div class = "box">
              <div class = "selectBox2 ">
                <button class = "label" id = "input2" th:text = "${board.time}">30분 이하~6시간 이상(1시간 단위)</button>
                <ul class = "optionList">
                  <li class = "optionItem">30분 이하</li>
                  <li class = "optionItem">1시간</li>
                  <li class = "optionItem">2시간</li>
                  <li class = "optionItem">3시간</li>
                  <li class = "optionItem">4시간</li>
                  <li class = "optionItem">5시간</li>
                  <li class = "optionItem">6시간 이상</li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class = "info_list_item2">
          <p>일상 선택</p>
          <div class = "selectBoxList">
            <div class = "box">
              <div class = "selectBox2 ">
                <button class = "label2">운동/독서/음악/영화/기타(세부적인 건 제목 or 내용에)</button>
                <ul class = "optionList">
                  <li class = "optionItem">운동</li>
                  <li class = "optionItem">독서</li>
                  <li class = "optionItem">음악</li>
                  <li class = "optionItem">영화</li>
                  <li class = "optionItem">기타</li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class = "info_list_item">
          <p>실행일</p>
          <div class = "selectBoxList">
            <div class = "box">
              <div class = "selectBox2">
                <input type = "text" class = "input_date" id = "datepicker" placeholder="YYYY-MM-DD">
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- 글쓰기 상단 섹션 끝-->

    <!-- 글쓰기 하단 섹션 시작-->
    <div class = "section2">
      <div class = "basic_introduce">
        <div class = "number_border">
          <p>2</p>
        </div>
        <h2>오늘 나의 일상을 기록해주세요.</h2>
      </div>
      <div class = "write_border"></div>
      <p>제목</p>
      <input type ="text" class = "title_css" placeholder="글 제목을 입력해주세요!" id = "input5">
      <!-- 글쓰기 에디터 Quilljs-->
      <div id="editor"></div>
      <!-- 글쓰기 에디터 Quilljs END-->
      <div class = "btn_rayout">
        <button class = "btn_insert" onclick="submitForm(executionVal);">변경 하기</button>
        <button class = "btn_delete" onclick="deleteSubmit();">취소</button>
      </div>
    </div>
    <!-- 글쓰기 하단 섹션 끝-->
  </div>
</div>
</body>
</html>