<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "fragments.html :: head"></head>

<body>
        <div class = "login_wrap">
            <div class = "login_logo">
                <a href = "/">
                    <img class = "main_logo_image" src = "/image/mainLogo.png" alt = "logo">
                </a>
            </div>
            <div class = "text">
                <h1>잘못된 요청입니다.</h1>
                <a th:href = "@{/}"class = form_design2 style="line-height: 40px;margin-top:20px;margin-left: 150px;width: 30%;display: block;padding-left: 1px;">첫 페이지로 이동</a>
            </div>

        </div>
</body>
</html>