<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace = "fragments.html :: head"></head>

<body>

<div class = "login_wrap">
  <div class = "login_logo">
    <a href = "/">
      <img class = "main_logo_image" src = "/image/mainLogo.png" alt = "logo">
    </a>
  </div>
  <div class = "text">
    <h1>비밀번호 변경</h1>
  </div>
  <div class = "login_line">
    새 비밀번호 입력
  </div>
  <div class = "login_form">
    <form th:action = "@{/settings/password}" th:object = "${passwordForm}" method = "post" novalidate>
      <div class = "login_id">
        <label for="user_id" style = "color: #6b7280;">새 비밀번호</label>
        <input id = "user_id" th:field="*{newPassword}" class = "form_design" type= "password" placeholder="4 ~ 50 글자 사이로 입력하세요." required>
        <span th:if= "${#fields.hasErrors('newPassword')}" th:errors = "*{newPassword}" style="color:red;">new Password Error</span>
      </div>
      <div class = "login_pw">
        <label for="user_pw" style = "color: #6b7280;">새 비밀번호 확인</label>
        <input id = "user_pw" th:field = "*{newPasswordConfirm}" class = "form_design"  type= "password" placeholder="4 ~ 50 글자 사이로 입력하세요." required>
        <span th:if= "${#fields.hasErrors('newPasswordConfirm')}" th:errors = "*{newPasswordConfirm}" style="color:red;">new PasswordConfirm Error</span>
      </div>
      <div class = "search_pw">
        <span></span>
      </div>
      <div class = "login_submit">
        <input type = "submit" value = "비밀번호 변경하기" class="form_design2">
      </div>

      <div class = "login_join" th:if="${message}">
        <span th:if="${message}" th:text = "${message}">변경완료 메시지</span><a th:href = "@{/}">메인화면으로</a>
      </div>

    </form>
  </div>
</div>
</body>
</html>